<ion-header>
  <ion-toolbar class="app-header">
        <ion-buttons slot="start">
          <ion-icon name="logo-linkedin" color="light"></ion-icon>
          <ion-searchbar debounce="500" placeholder="Find Friend"></ion-searchbar>
          <ion-icon name="ios-chatboxes" color="light"></ion-icon>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-grid>
      <ion-grid>
          <ion-row>
            <ion-col size="4" class="contacts">
              <div class="number">
                0
              </div>
              <div class="info center">Wyświetl kontakty</div>
            </ion-col>
            <ion-col size="4">
              <div class="center">
                  <ion-icon name="wifi" class="small-icon"></ion-icon>
              </div>
              <div class="info center">Znajdź w pobliżu</div>

            </ion-col>
            <ion-col size="4">
              <div class="center">
                  <ion-icon name="person-add" class="small-icon"></ion-icon>
              </div>
              <div class="info center">Dodaj Kontakt</div>

            </ion-col>
          </ion-row>
        <ion-row>
            <ion-col size="6">
              <div class="tile">
                <div class="center">
                    <img src="../../assets/profile-pic.jpg" class="round"/>
                </div>
              <span class="center">Anna Kowalska</span>
              <span class="center info padding-bottom">Team Manager at McDonald's</span>
              <ion-button color="medium" expand="block" fill="outline" size="small" >Nawiąż Kontakt</ion-button>
              <ion-icon name="close-circle" class="close-button"></ion-icon>
            </div>
            </ion-col>

            <ion-col size="6">
                <div class="tile">
                  <div class="center">
                      <img src="../../assets/profile-pic.jpg" class="round"/>
                  </div>
                <span class="center">Jan Kowalski</span>
                <span class="center info padding-bottom">Team Manager at KFC</span>
                <ion-button color="medium" expand="block" fill="outline" size="small" >Nawiąż Kontakt</ion-button>
                <ion-icon name="close-circle" class="close-button"></ion-icon>
              </div>
              </ion-col>
              <ion-col size="6">
                  <div class="tile">
                    <div class="center">
                        <img src="../../assets/profile-pic.jpg" class="round"/>
                    </div>
                  <span class="center">Janusz Piętka</span>
                  <span class="center info padding-bottom">Team Leader at Szlachta nie pracuje</span>
                  <ion-button color="medium" expand="block" fill="outline" size="small" >Nawiąż Kontakt</ion-button>
                  <ion-icon name="close-circle" class="close-button"></ion-icon>
                </div>
                </ion-col>
                <ion-col size="6">
                    <div class="tile">
                      <div class="center">
                          <img src="../../assets/profile-pic.jpg" class="round"/>
                      </div>
                    <span class="center">Keanu Reeves</span>
                    <span class="center info padding-bottom">Painter at Freelance</span>
                    <ion-button color="medium" expand="block" fill="outline" size="small" >Nawiąż Kontakt</ion-button>
                    <ion-icon name="close-circle" class="close-button"></ion-icon>
                  </div>
                  </ion-col>
        </ion-row>

        </ion-grid>
  </ion-grid>
      
</ion-content>
