<ion-header>
    <ion-toolbar class="app-header">
          <ion-buttons slot="start">
            <ion-icon name="arrow-round-back" color="light"></ion-icon>
            <ion-searchbar debounce="500" placeholder="Jan Kowalski"></ion-searchbar>
            <ion-icon name="settings" color="light"></ion-icon>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-grid no-padding>
        <ion-row class="blue" >
          <ion-col size="12">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="center">
              <ion-icon name="camera" class="blue-camera"></ion-icon>
              <ion-icon name="create" class="blue-edit"></ion-icon>
              <div style="height:4em;"></div>
              <span class="large-font">Marcin Franczak</span>
              <ion-col class="center">
                  <span>Content Moderator w Conectys</span>
              </ion-col>
          <ion-col>
            <span class="small-font">Conectys</span>
          </ion-col>
              <ion-row class="center small-font">
                <span>Polska 0 </span><ion-icon name="person" class="small-icon"></ion-icon>
              </ion-row>
          </ion-col>
        </ion-row>
<ion-row style="height:1em;"></ion-row>
<ion-row>
  <ion-col size="12">
    <span style="small-icon">Doświadczenie</span><ion-icon name="create" class="blue-edit-small"></ion-icon>
  </ion-col>
</ion-row>
            <ion-row style="height:1em;"></ion-row>

 <ion-row>

  <ion-col size="2">
      <ion-icon name="briefcase"></ion-icon>
  </ion-col>
  <ion-col size="10">
    <ion-row class="height-50">
      <span class="strong-font">Contect moderator</span>
    </ion-row>
    <ion-row class="height-50">
      <span class="small-font">Conectys</span>
    </ion-row>
  </ion-col>
</ion-row>
<ion-row class="see-all center">
  <span>Zobacz wszystko</span>
</ion-row>
<ion-row class="gray-line"></ion-row>
<ion-row class="padding-top">
<ion-col size="12">
    <span class="small-icon">Nawiąż kontakt</span><ion-icon name="create" class="blue-edit-small"></ion-icon>
  </ion-col>
</ion-row>
<ion-row class="padding-top"> 

    <ion-col class="blue-linked small-font center" size="2">
        <ion-icon name="logo-linkedin"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <ion-row class="height-50">
        <span class="strong-font">Twój profil</span>
      </ion-row>
      <ion-row class="height-50">
        <span class="small-font">https://www.youtube.com/watch?v=dQw4w9WgXcQ</span>
      </ion-row>
    </ion-col>
  </ion-row>
      </ion-grid>
</ion-content>
